//$themeClr: rgb(255, 217, 0);
//$themeClr: rgb(0, 179, 255);
//$themeClr: #7854F7;
//$themeClr: rgb(0, 179, 255);
$themeClrMain: #7854f7;
$themeClrSec: #45c3f8;
$themeTextMain: #fff;
$themeTextSec: rgb(250,250,250);
